.square {
  width: 2.7vw;
  height: 2.7vw;
  border: 1px solid #363535;
  border-radius: 8px;
  margin: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.snake {
  transition: transform 0.2s ease-in-out;
  background: linear-gradient(145deg, #4caf50, #388e3c);
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

.apple {
  background-image: url('../../../../assets/apple.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  box-shadow: none;
}

@media (max-width: 1400px) {
  .square {
    width: 4vw;
    height: 4vw;
  }
}

@media (max-width: 1024px) {
  .square {
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 600px) {
  .square {
    width: 6vw;
    height: 6vw;
  }
}
